.textManage h1{
    text-align: center;
    height: 50px;
}
.img{
    border-radius: 50%;
    width:20%;
    height: 10%;

}
.h1{
    display: inline;
    margin-top: 25%;
}
.div{
    text-align: center;
}